.chatBody {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.chatBodyHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(157, 168, 231);
  background-color: lightgreen;
}
.chatBodyHeaderInfo {
  flex: 1;
  margin-left: 20px;
}
.chatBodyHeaderInfo > h3 {
  margin: 3px;
}
.participantList {
  display: flex;
  text-align: left;
  width: fit-content;
  align-items: center;
}
.participantList > p {
  display: block;
  margin-block-start: 3px;
  margin-block-end: 3px;
  margin-inline-start: 0px;
  margin-inline-end: 10px;

  color: gray;
}
.participantList > p::after {
  content: ",";
}
.chatBodyHeaderRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.chatBodyMiddle {
  flex: 1;
  background-color: lightgrey;
  overflow-y: scroll;
  padding: 30px;
}

.chatBodyFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: lightgreen;
}

.chatBodyFooter > form {
  flex: 1;
}
.chatBodyFooter > form > input {
  flex: 1;
  border-radius: 20px;
  outline: none;
}
.chatBodyFooter > form > button {
  display: none;
}
.chatBodyFooterLeft {
  display: flex;
}
.dateContainer {
  position: relative;
  background-color: rgb(176, 219, 245);
  border-radius: 10px;
  color: rgb(134, 140, 145);
  font-size: 16px;
  padding: 3px 5px;
  width: fit-content;
  min-width: 80px;
  text-align: center;
  margin: 0 auto 30px auto;
}
