.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  background-color: cornflowerblue;
}
.sidebarHeader {
  display: flex;
  padding: 5px 5px 5px 1px;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(219, 216, 216); */
  border-bottom: 1px solid rgb(157, 168, 231);
}
.sidebarHeaderRight {
  display: flex;

  align-items: center;
  justify-content: space-between;
  min-width: 5vw;
}
.sidebarHeaderRight > .MuiSvgIcon-root {
  margin-right: 1vw;
  font-size: 5px !important;
}

.sidebarSearch {
  display: flex;
  background-color: rgb(127, 156, 209);
  padding: 5px;
  height: 39px;
  border-bottom: 1px solid rgb(157, 168, 231);
}
.searchContainer {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  padding: 0px 5px;
  background-color: white;
}
.searchContainer > input {
  border: none;
  height: 35px;
  outline: none;
}

.searchContainer > .MuiSvgIcon-root {
  color: rgb(126, 123, 123);
}
.sidebarChatRooms {
  flex: 1;
  overflow-y: scroll;
}
.drawer > .MuiDrawer-paper {
  width: 35vw;
  align-items: center;
  flex: 1;
  background-color: cornflowerblue;
}
.drawer > .MuiDrawer-paper > input {
  width: 90%;
  margin: 20px;
}
.participantTitle {
  width: 90%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.participantTitle > .backButton {
  margin-right: 20px;
}

.avatarInput {
  position: relative;
  margin-left: 10px;
  margin-top: 5px;
}
.addingGroupAvatar {
  display: flex;
  border-top: 1px solid black;
  margin-top: 20px;
  width: 90%;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  justify-content: space-between;
}
.createRoomButton,
.addGroupIconButton {
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  font-weight: 600;
}
.createRoomButton,
.addGroupIconButton :hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .drawer > .MuiDrawer-paper {
    width: 40vw;
  }
}
@media only screen and (max-width: 1000px) {
  .drawer > .MuiDrawer-paper {
    width: 60vw;
  }
}
@media only screen and (max-width: 800px) {
  .drawer > .MuiDrawer-paper {
    width: 90vw;
  }
}
@media only screen and (max-width: 650px) {
  .drawer > .MuiDrawer-paper {
    width: 100vw;
  }
}
