.sidebarChat {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgb(157, 168, 231);
  flex: 1;
  align-items: center;
  padding: 10px;
}
.sidebarChat:hover {
  background-color: lightgray;
}

/* Hide the browser's default radio button
.sidebarChat input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.roomContant {
  position: relative;
  flex: 0.34;
  align-items: center;
  padding: 10px;
}

/* Create a custom radio button */
/* .checkmark {
  position: relative;
  padding: 10px;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
} */

/* When the radio button is checked, add a blue background */
/* .sidebarChat input:checked ~ .checkmark {
  background-color: gray;
} */
.sidebarChatInfo {
  position: relative;
  margin-left: 20px;
}
.sidebarChatInfo > h3 {
  margin: 5px;
}
.sidebarChatInfo > p {
  margin: 5px;
}
.MuiList-root {
  flex: 1;
  width: 90%;
}

.MuiList-root > .MuiListItem-dense {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(157, 168, 231);
}
.MuiList-root > .MuiListItem-dense:hover {
  background-color: lightgray;
}
.createRoomButton {
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  font-weight: 600;
}
